
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form asp-action="Index" method="post">
    <input type="text" name="Name" id="Name" value="" />
    <input type="text" name="Surname" id="Surname" value="" />

    <button type="submit">Send</button>
</form>